@import '../../../styles/variables.scss';

.ChildCard {
 
  .edit-child-button{
    opacity: 0.75;
  }
  .edit-child-button:hover{
    opacity: 1;
  }
  .view-child-button{
    opacity: 0.75;
  }
  .view-child-button:hover{
    opacity: 1;
  }
  .card{
    background-color: $CardColor;
    border: $borderColor 6px solid;
    border-radius: 10px;
    .card-title {
      font-size: 40px;
      font-family: $bellota
    }
    .card-text {
      font-size: 25px;
      font-family: $bellota
    }
  }
  .card:hover{
    background-color:$hoverCardColor;
  }
  .card-body{
    color: rgba(0, 0, 0, 0.644);
  }
}
