@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,400;1,300&family=Codystar&family=Delius&family=Mali:wght@300;400&display=swap');

//color variables
$CardColor:  #b4b0b013;
$hoverCardColor: #b4b0b085;
$borderColor:  rgba(104, 101, 101, 0.514);

//font variables
$codystar-title: 'Codystar', cursive;
$bellota: 'Bellota', cursive;
$delius: 'Delius', cursive;
$mali: 'Mali', cursive;
